<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <style>
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 80%;
      }

      .wrapper .my-profile {
        width: 350px;
      }

      .wrapper img {
        width: 200px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="my-profile">
          <h1>Hello Brother!</h1>
          <p>
            Perkenalkan nama saya Arman, saya sedang mengerjakan submisson untuk
            deploy aplikasi profile
          </p>
        </div>
        <img
          src="https://storage.googleapis.com/dicoding-submission-bucket/hi.webp"
          alt="Hello"
        />
      </div>
    </div>
  </body>
</html>
